body {
    color: #2C3343;
    font-family: "Gilmer",sans-serif;
    margin: 0;
    background-color: rgb(228, 228, 228);
  }

.title {
    font-weight: 700;
    display: block;
    color: white;
    background: rgb(33, 97, 127);
    padding: 1.5rem;
    font-size: 3rem;
    height: 56px;
    white-space: nowrap;
    user-select: none;
   }

.sub-title {
    font-weight: 700;
    color: black;
    font-size: 1rem;
    margin: 0px;
    padding-top: 0px;
    padding-left:0px;
    padding-right:0px;
    padding-bottom:10px;
    user-select: none;
   }

   .card {
    background: white;
    color: black;
    padding: 1rem;
    border:1px solid rgb(182, 182, 182);
    overflow: hidden;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 50rem;
    height: 30rem;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 2px 2px rgba(0, 0, 0, 0.23);
    font-family: "helevactia",sans-serif;
  }

  .citation-card {
    background: white;
    color: black;
    padding: 1rem;
    border:1px solid rgb(182, 182, 182);
    overflow: hidden;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 50rem;
    height: 10rem;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 2px 2px rgba(0, 0, 0, 0.23);
    font-family: "helevactia",sans-serif;
  }

.text-input{
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
   font-size: 15px;
   }

.side{
  display: flex;
  align-items: flex-end;
}

.name-input-pair{
  vertical-align: middle;
  }

.sub-title {
  font-family: "helevactia",sans-serif;
  font-size: 30px;
}

.pad-bottom {
  padding-bottom: 15px;
}

.pad-bottom-small {
  padding-bottom: 50px;
}

.pad-right-left-1 {
padding-right: 10px;
padding-left:10px;
}

.pad-right-left-2 {
  padding-right: 10px;
  padding-left:10px;
  }

  .submit-text {
    font-family: "helevactia",sans-serif;
    font-size: 15px;
  }

  .submit-button {
  background-color: white;  
  border:1px solid rgb(154, 154, 154);
  width: 10rem;
  height: 2rem;
  text-align: center;
  font-family: "helevactia",sans-serif;
  vertical-align: middle;
  padding: 5px;
  }

.submit-button:hover
  {
  opacity: .8;
  }

.submit-button:active
  {
  opacity: 0.2;
  }

.extend-width {
   width: 510px;
   }